html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
    script(src="https://kit.fontawesome.com/27f702310a.js", crossorigin="anonymous")

  body
    header
      #titulo
        a(href="/")
          img#logoEmpresa(src="imgs/logoRomian.png" alt="Logo de la empresa")        
        h4#tituloFavs Dashboard
      if islogged
        if isadmin
          include menuAdmin.pug
          #saludo
            p(data-email=`${email}`) Hola #{email}
        else
          include menuUsuario.pug
          #saludo
            p(data-email=`${email}`) Hola #{email}
      else
        include menuStandart.pug

    main
      #tarjetaSubirOferta
        h2 Subir Oferta
        form#formSubirOferta(action="#")
          #divTituloOferta
            input#inputTituloOferta(type="text", name="inputTitulo", placeholder="Introduce el título...")
          #divEmpresaOferta
            input#inputEmpresa(type="text", name="inputEmpresa", placeholder="Introduce el nombre de la empresa...")
          #divSalarioOferta
            input#inputSalario(type="text", name="inputSalario", placeholder="ex: 20.000 - 30.000...")
          #divlocalizacionOferta
            input#inputLocalizacion(type="text", name="inputLocalizacion", placeholder="Introduce la localización...")
          #submitOferta
            input(type="submit", value="Subir")
        p#message

      section
        #ofertasUsuario
          h1 Ofertas
          each oferta in Ofertas
            #cardOferta
              #deleteFavBtn
                button(id=`${oferta.title}`) 
                  i.fa-regular.fa-trash-can(style="color: #bf5ad3;")
              #tituloOferta
                a(href=`${oferta.url}` target="_blank") #{oferta.title} 
              #empresa
                h4 #{oferta.empresa}
              #localizacion  
                p #{oferta.localizacion}
              #salario
                p #{oferta.salario}
              #botonesTec
                button 
                  i.fa-brands.fa-square-js(style="color: #9a52aa;")
                button
                  i.fa-brands.fa-html5(style="color: #75378f;")
                button
                  i.fa-brands.fa-css3-alt(style="color: #9a52aa;")
                button
                  i.fa-brands.fa-node-js(style="color: #75378f;")
              

    script(src="./script/script.js")
