doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/CSS/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")

  body
    header
      #titulo
        img#logoEmpresa(src="IMGs/logoRomian.png" alt="Logo de la empresa")
      #divBuscador
        h2 ¿Estás buscando ofertas de trabajo?
        input(type="text" id="inputBuscador" name="inputBuscador" placeholder="Buscar ofertas...")
      #divHamburguesa
        button#abrir.abrir-menu
      #nav
        ul
          h3 Menú
          li
            a(href="./") Home
          li
            a(href="./login") Login
          li
            a(href="./registro") Registrar
          li
            a(href="./favoritos") Favoritos
          li
            a(href="./dashboard") Dashboard
          li
            a(href="./users") Usuarios
          li
            a(href="./perfil") Perfil

    main
      #filtros
        h2 Filtros
      section
        #ofertasUsuario
          h1 #{msj}
          each oferta in Ofertas
            h2 #{oferta.title} 
            h4 #{oferta.empresa}
            h4 #{oferta.localizacion}
            h4 #{oferta.salario}
            #botonesEjemplo
              button JS
              button HTML
              button CSS

    footer
      p Footer

    script(src="script/script.js")
