doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ofertas de Empleo FullStack
    link(rel="stylesheet" href="/CSS/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet")

  body
    header
      #titulo
        img#logoEmpresa(src="/IMGs/logoRomian.png" alt="Logo de la empresa")
      #divBuscador
        h2 ¿Estás buscando ofertas de trabajo?
        input#inputBuscador(type="text" name="inputBuscador" placeholder="Buscar ofertas...")
      #divHamburguesa
        button#botonHamburguesa

    main
      #filtros
        h2 Filtros
    section
        h1 #{msj}
        each oferta in Ofertas
          h2 #{oferta.title} 
          h4 #{oferta.empresa}
          h4 #{oferta.localizacion}
          h4 #{oferta.salario}
          #botonesEjemplo
            button JS
            button HTML
            button CSS

    footer
      p Footer

    script(src="script.js")

